@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>
<div>
    <p><strong>Username:</strong> Marvellous Bamisaye</p>
    <p><strong>Email:</strong> test@gmail.com</p>
</div>
<div>
    <a asp-action="EditProfile">Edit Profile</a> |
    <a asp-action="ChangePassword">Change Password</a>
</div>
