@{
    ViewData["Title"] = "About Us";
}

<body>
    <div class="container">
        <h2>About Us</h2>
        <p>Welcome to our E-commerce Website. We aim to provide the best shopping experience for our customers.</p>
        <p>Our team is dedicated to offering quality products and excellent customer service.</p>
    </div>

</body>
